@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wdth,YTLC@6..12,75..125,440..540&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Nunito Sans', sans-serif;
  --fsize-base: 16px;
  --fsize-h1: 56px;
}

:root {
  --fsize-base: 16px;
  --fsize-h1: 56px;
}

:root {
  --regular: 400;
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
}

:root {
  --main-color: #65b2da;
}

html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  min-width: 340px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: var(--fsize-base);
  font-weight: var(--regular);
  line-height: 150%;
  overflow-x: hidden;

  background: #141414;
  color: #fff;
}

h1 {
  font-size: var(--fsize-h1);
}

h1,
h2 {
  line-height: 120%;
}

h3 {
  line-height: 140%;
}

p {
  font-family: var(--second-family);
}

hr {
  border: none;
  height: 2px;
  background: #000;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 90vw;
}

.wrapper {
  --wrapper-margin: clamp(20px, 15vh, 100px);
  margin-top: var(--wrapper-margin);
  margin-bottom: var(--wrapper-margin);
}

.highlight-text {
  color: var(--main-color) !important;
}

.bold {
  font-weight: var(--bold);
}

.btn {
  font-family: var(--second-family);
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  transition: all 0.3s ease;
}

@media (min-width: 320px) and (max-width: 768px) {
  :root {
    --fsize-base: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --fsize-base: 14px;
  }
}